<<<<<<< HEAD
/* Import Foundation XY Grid */
@import "node_modules/foundation-sites/scss/foundation.scss";
@include foundation-xy-grid-classes(
  $base-grid: true,
  $margin-grid: true,
  $padding-grid: true,
  $block-grid: true,
  $collapse: true,
  $offset: true,
  $vertical-grid: true,
  $frame-grid: true
);
@include foundation-visibility-classes;
@include foundation-flex-classes;
@include foundation-flex-grid;
=======
@import "~foundation-sites/scss/foundation";
@include foundation-everything;

$primary-orange: #FC5C28;
>>>>>>> d2b545222cab609d5cadb50a03ec57f47bc824a9

body {
  background-color: #ecf3f9;
}
